section#video {
  
  background-image: url(../img/txtbg.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
section#video div.wrap {
  
}
section#video div.wrap h2 {
  
  font-weight: 500;
  display: flex;
  justify-content: center;
}
section#video div.wrap h2::after {
  content: "";
  width: 24px;
  height: 17px;
  display: block;
  background-image: url(../img/logom.png);
  background-size: contain;
  background-repeat: no-repeat;
}
section#video div.wrap p {
  
  margin: 25px 0 60px 0;
  color: #999B9D;
  font-size: 18px;
}
section#video div.wrap ul {
  
  justify-content: center;
}
section#video div.wrap ul li {
  padding: 0 20px;
  box-sizing: border-box;
  display: block;
}
section#video div.wrap ul li:nth-child(1) {
  border-right: 2px solid #DDDDDD;
}

section#video div.wrap ul li a {
  
  font-size: 30px;
  color: #666666;
}
section#video div.wrap div.youtube {
  height: 675px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 70px;
}
div.inline-YTPlayer{
  
  margin: 0 auto;
}
iframe#iframe_youtubenews{
  
  width: 1200px !important;
  height: 675px !important;
  margin: 0 !important;
}
.red{
  color: #AB1A2D !important;
}